:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 17px;
  line-height: 1.6rem;
  color: var(--primary-color);
}

.container {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  background-color: var(--primary-color);
}

#header .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  padding: 1rem;
}

#header a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  justify-self: start;
  padding-top: 0.5rem;
}

#header #branding {
  text-transform: none;
}

#navbar {
  padding-top: 0.5rem;
  justify-self: end;
}

#navbar ul {
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  padding: 0 20px 0 20px;
  color: #fff;
  text-decoration: none;
}

#navbar .link-wrapper {
  text-transform: none;
  margin-right: 1rem;
  background-color: var(--sub-color);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 5px 20px;
  font-weight: 600;
}

#navbar .link-wrapper:hover {
  cursor: pointer;
}

.footer {
  padding: 32px;
  margin-top: 20px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  text-align: center;
}

@media (max-width: 992px) {
  #header .container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    padding: 1rem;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}
