:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #20333c;
  --sub-color: #415766;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 17px;
  line-height: 1.6rem;
  color: var(--sub-color);
}

.container {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  background-color: var(--main-color);
}

#header .container {
  padding: 2rem;
}

#header a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#navbar {
  background-color: var(--sub-color);
  padding: 1rem;
}

#navbar ul {
  list-style: none;
}

#navbar li {
  display: inline;
  padding-right: 2rem;
}

#navbar a {
  color: #fff;
  text-decoration: none;
}

#navbar a i {
  color: #fff;
}

#footer {
  padding: 2rem;
  color: #fff;
  text-align: center;
  background-color: var(--main-color);
}

#home {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

#home h1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 3rem;
}
