:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

#cart {
  background-color: var(--sub-color);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 2rem;
  min-height: 250px;
}

#cart h2 {
  text-align: center;
}

#cart ul {
  margin-top: 1.5rem;
  list-style: none;
}

#cart .cart-item-wrapper {
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  padding: 1rem;
}
