:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

#categories {
  padding: 1rem 0rem 1rem 0rem;
}

#categories ul {
  margin-bottom: 1rem;
}

#categories li:first-child {
  margin-left: 0rem;
}

#categories li {
  margin-left: 0.5rem;
}

.category-wrapper {
  display: inline;
  background-color: var(--primary-color);
  color: var(--sub-color);
  padding: 0.7rem;
  border-radius: 8px;
  text-align: center;
}

.category-wrapper:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
