:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

#search-form {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 30%;
}

#input:focus {
  outline: none;
}

#search-button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  margin-left: 0.5rem;
  width: 5%;
  background-color: var(--primary-color);
  color: var(--sub-color);
}

#search-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

@media (max-width: 992px) {
  #input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 30%;
  }

  #search-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    margin-left: 0.5rem;
    width: 7%;
    background-color: var(--primary-color);
    color: var(--sub-color);
  }
}
