:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

#home .container {
  padding: 1rem;
}

#home #product-list {
  width: 55%;
  float: left;
}

#home #cart {
  float: right;
  width: 45%;
}

@media (max-width: 720px) {
  #home #product-list {
    width: 100%;
  }

  #home #cart {
    width: 100%;
  }
}
