:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: var(--sub-color);
  padding: 2rem;
  margin: 15% auto;
  width: 35%;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
  animation-name: modalopen;
  animation-duration: 0.5s;
}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

#close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: var(--hover-color);
  text-decoration: none;
  cursor: pointer;
}

#sign-in-wrapper {
  text-align: center;
}

#sign-in-wrapper h3 {
  font-size: 28px;
  margin-bottom: 1rem;
  font-weight: 300;
}

#sign-in-button {
  width: 60%;
  margin-top: 1rem;
  padding: 1rem;
  font-family: var(--main-font);
  font-size: 17px;
  border-radius: 8px;
  border: none;
  color: var(--sub-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
}

#sign-in-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

#order-confirmation h3 {
  font-size: 32px;
  margin-top: 0rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#order-confirmation ul {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#order-confirmation #product-wrapper {
  margin-bottom: 1rem;
}

#order-confirmation #order-total {
  font-size: 22px;
  font-weight: bold;
}

#order-confirmation hr {
  border: 2px solid var(--primary-color);
  margin-bottom: 2rem;
}

#register-completed-wrapper {
  text-align: center;
}

#register-completed-wrapper h3 {
  font-size: 28px;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #0ba185;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .modal-content {
    background-color: var(--sub-color);
    padding: 2rem;
    margin: 30% auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
    animation-name: modalopen;
    animation-duration: 0.5s;
  }

  #sign-in-wrapper h3 {
    font-size: 28px;
    margin-bottom: 1rem;
    font-weight: 300;
    line-height: 2.5rem;
  }
}
