:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

#register-form .container {
  margin-top: 0.5rem;
  padding: 1rem;
}

#register-form .wrapper {
  width: 40%;
  border-radius: 8px;
  background-color: var(--sub-color);
  padding: 2rem;
}

#register-form h2 {
  margin-bottom: 1rem;
}

#register-form input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0.5rem;
  font-family: var(--main-font);
  font-size: 17px;
}

#register-form button {
  width: 35%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  font-family: var(--main-font);
  font-size: 17px;
  border-radius: 8px;
  border: none;
  color: var(--sub-color);
  background-color: var(--primary-color);
}

#register-form button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.register-error {
  width: 75%;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: var(--error-color);
  border-radius: 8px;
}

.register-error p {
  color: var(--sub-color);
}

#close-error {
  color: var(--sub-color);
  float: right;
  font-size: 40px;
  font-weight: bold;
}

#close-error:hover,
#close-error:focus {
  color: var(--hover-color);
  text-decoration: none;
  cursor: pointer;
}

#register-form #register-login-button {
  width: 60%;
  margin-top: 1rem;
  padding: 1rem;
  font-family: var(--main-font);
  font-size: 17px;
  border-radius: 8px;
  border: none;
  color: var(--sub-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
}

#register-form #register-login-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

@media (max-width: 992px) {
  #register-form .wrapper {
    width: 50%;
    border-radius: 8px;
    background-color: var(--sub-color);
    padding: 2rem;
  }

  #register-form button {
    width: 50%;
    margin-top: 0.5rem;
    padding: 0.8rem;
    font-family: var(--main-font);
    font-size: 17px;
    border-radius: 8px;
    border: none;
    color: var(--sub-color);
    background-color: var(--primary-color);
  }
}

@media (max-width: 720px) {
  #register-form .wrapper {
    width: 75%;
    border-radius: 8px;
    background-color: var(--sub-color);
    padding: 2rem;
  }

  #register-form button {
    width: 50%;
    margin-top: 0.5rem;
    padding: 0.8rem;
    font-family: var(--main-font);
    font-size: 17px;
    border-radius: 8px;
    border: none;
    color: var(--sub-color);
    background-color: var(--primary-color);
  }

  .register-error {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: var(--error-color);
    border-radius: 8px;
  }
}
