:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

#search-form {
  margin-top: 2rem;
}

#input {
  background-image: url(../img/search.svg);
  background-size: 1.4rem;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 40%;
  text-indent: 35px;
}

#input:focus {
  outline: none;
}
