:root {
  --main-font: 'Lato', sans-serif;
  --primary-color: #2d2d2d;
  --sub-color: #fff;
  --accent-color: #eee;
  --hover-color: #070707;
}

#product-list {
  margin-bottom: 3rem;
}

#product {
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--sub-color);
  color: var(--primary-color);
  border-radius: 8px;
  width: 50%;
}

#product:hover {
  cursor: pointer;
}

#product .name,
.category,
.description,
.price {
  padding-bottom: 0.5rem;
}

#add-button {
  width: 50%;
  margin-top: 0.5rem;
  padding: 0.6rem;
  font-family: var(--main-font);
  font-size: 17px;
  border-radius: 8px;
  border: none;
  color: var(--sub-color);
  background-color: var(--primary-color);
}

#add-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
